@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 10, 10, 10;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 10, 10, 10;
    --background-end-rgb: 10, 10, 10;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  border-radius: 10px;
  padding: 16px;
}

.grid-item {
  text-align: center;
}

.square {
  background-color: #f4f4f430;
  border-radius: 10px;
  padding: 16px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  aspect-ratio: 1 / 1;
}

.text-placeholder {
  text-align: center;
  margin-top: 8px;
  font-weight: bold;
  color: #ffffff; /* Customize the text color */
}
